## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [ ]:
num_ent = 4
print(num_ent)

4

2) Imprimir el tipo de dato de la variable 8.5

In [ ]:
num_coma = 8.5
print (type(num_coma))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [ ]:
print(type(num_ent))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [ ]:
nombre = "Ailen"

5) Crear una constante que contenga el número Pi

In [7]:
import math
PI = math.pi

6) Mostrar el tipo de dato de la variable creada en el punto 5

In [9]:
print("PI es de tipo: ", type(PI))

PI es de tipo:  <class 'float'>

7) Crear una variable que contenga el valor del número **e** (número de euler) redondeado a 4 decimales

In [10]:
num_euler = math.e
num_cuatro_cifras = round(num_euler, 4)
print(num_cuatro_cifras)

2.7183

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [2]:
val_verdad = True
val_verdad_Str = 'True'

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [3]:
print("El tipo de dato de True es: ", type(val_verdad))
print("El tipo de dato de 'True' es: ", type(val_verdad_Str))

El tipo de dato de True es:  <class 'bool'>
El tipo de dato de 'True' es:  <class 'str'>

10) Asignar a una variable, la suma de un número entero y otro flotante

In [12]:
num = 7
num2 = 4.8
suma = num + num2
print(suma)

11.8

11) Realizar una operación de suma de un número definido como string con un entero

In [16]:
num_str = "11"
num = 4
num2 = int(num_str)
print(num2 + num)

15

12) Crear una variable que contenga el valor del punto 7 elevado al cubo (potencia de 3)

In [17]:
cubo = math.pow(num_cuatro_cifras, 3)
print(cubo)

20.085939737487003

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [2]:
num = input("Ingrese un numero")
nume = int(num)
multiplicacion = nume*5
print(multiplicacion)

40

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [5]:
cociente = 24/4
print(cociente)

6.0

15) De la división anterior solamente mostrar la parte entera

In [6]:
part_ent = round(cociente)
print(part_ent)

6

16) De la división de 27 entre 4 mostrar solamente el resto

In [7]:
resto = 27%4
print(resto)

3

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 15 y 16, obtener 27 como resultado

In [10]:
multi = part_ent*4
suma = multi + resto
print("El resultado de (",part_ent, " x 4 )","+", resto,"=", suma )

El resultado de ( 6  x 4 ) + 3 = 27

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [15]:
num2 = 2
num_dos = "2"
def tipo_dato(n1,n2):
    if n1 == n2:
        print("Los numeros son iguales")
    else:
        tipo1 = type(n1)
        tipo2 = type(n2)
        print("Los numeros no son iguales porque el 2 es de tipo ",tipo1,"y el '2' es de tipo ",tipo2)
tipo_dato(num2,num_dos)

Los numeros no son iguales porque el 2 es de tipo  <class 'int'> y el '2' es de tipo  <class 'str'>

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 18 resulte verdadera

In [16]:
num_ent = int(num_dos)
tipo_dato(num2,num_ent)

Los numeros son iguales

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [19]:
a = float('3,8')

ValueError: could not convert string to float: '3,8'

21) Realizar la operación 10 + '10' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [4]:
num1 = 10
num2 = '10'
op= num1 + num1
print(op)
operacion = num1 + num2
print(operacion)

20

TypeError: unsupported operand type(s) for +: 'int' and 'str'

22) Crear una variable que contenga un menú con los elementos MENU: 1 - Pizza, 2 - Empanadas, 3 - Milanesas, 4 - Salir, y luego mostrarlo por pantalla

In [6]:
MENU = [
    '1 - Pizza', 
    '2 - Empanadas',
    '3 - Milanesas',
    '4 - Salir'
]

print('MENU:',MENU)

MENU: ['1 - Pizza', '2 - Empanadas', '3 - Milanesas', '4 - Salir']

23) Crear una lista que contenga los números del 1 al 10

In [11]:
numeros = list(range(1,11))
print(numeros)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

24) Imprimir el penultimo elemento de la lista creada en el punto 23

In [8]:
print(numeros[-2])

9

25) Modificar el tercer elemento de la lista creada en el punto 23 poniendo tu nombre

In [12]:
numeros[2] = 'Ailen'
print(numeros)

[1, 2, 'Ailen', 4, 5, 6, 7, 8, 9, 10]

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [14]:
matriz =[
    ['A','B','C'],
    ['D','E','F'],
    ['G','H','I']
]

27) Imprimir la matriz creada en el punto 26

In [18]:
print(matriz)

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]

28) Modificar la letra E de la matriz y colocar la letra Z

In [ ]:
matriz[1][1] = 'Z'
print(matriz)

NameError: name 'matriz' is not defined

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

30) Crear una tupla que contenga 5 marcas de ropa

31) Imprimir el primer elemento de la tupla creada en el punto 30

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla